/*BASIC EDIT STYLE*/  

.basic-edits h2{
    text-align: center;
    background-color: #282c31;
    padding: 20px 0px;
    border-radius: 2px;
}

.edit-area{
    padding: 0px 18px;
}

.edit-area i{
    font-size: 30px;
}

#resetEditBtn{
    background-color: red;
    margin: 20px auto;
}

#resize-area{
    display: none;
    width: 100%;
    /* margin: 0px auto; */
    padding: 10px;
    text-align: center;
    /* background-color: red; */
}

#resize-area input[type=text]{
    display: inline-block;
    width: 40%;
    font-size: 22px;
    border:none;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 10px;
    background-color: #2e3238;
    color: white;
}

#resize-area button{
    background-color: green;
    width: 30%;
    margin: 10px auto;
}

#resize-area p{
    display: none;
    color:red;
}

#rotate-area{
    display: none;
    width: 60%;
    margin: 0px auto;
    /* background-color: red; */
    padding-bottom: 10px;
    padding-left: 10px;
}

#rotate-area button{
    display: inline-block;
    background-color: #1959a7;
    margin-left: 15px;
}

#crop:hover,#rotate:hover, #resize:hover{
    background-color:#575a5f;
}

.element{
    padding: 25px;
    display: flex;
    flex-flow: row;
    align-items: center;
}


.element:not(:last-child){
    border-bottom: 1px solid rgb(160, 159, 159);
}

.element i{
    flex-basis: 10%;
    font-size: 25px;
}

.element label,p{
    font-size: 19px;
    /* border: 1px solid white; */
    flex-basis: 29%;
}

.element input{
    /* border: 1px solid white; */
    flex-basis: 70%;
}

.element input[type=range]{
    cursor: move;
}

.element span{
    color:rgb(88, 88, 192);
    visibility: visible;
}

.element span:hover{
    cursor: pointer;
}