*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#252a32;
}

header{
    background-color: #3a3f46;
    color: white;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 3%;
    font-size: 20px;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 8px;
    border: 1px solid rgb(83, 83, 83);
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-stage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    /* height: 600px; */
}

/* CANVAS EDITOR */
#canvas{
    background: black;
    border: 2px dotted black;
    width: 65%;
    height: 700px;
    object-fit: contain;
}

/* EDITOR STYLE */
.editor{
    width: 35%;
    border-radius: 5px;
    background-color:#2e3238;
    color: white;
    height: 700px;
    overflow: auto;
}

.panel-header{
    text-align: center;
    background-color: #282c31;
    border-radius: 15px;
    font-size: 26px;
    padding: 20px 0px;
    position: relative;
}