.manual-tools-area{
    width: 50%;
    margin: auto;
    padding: 5px;
    background-color: rgb(61, 61, 59);
    border-radius: 5px;
}

.group{
    display: inline-block;
    /* border: 1px solid black; */
    width: auto;
    padding: 0px 11px;
}

.manual-tools-area button{
    display: inline-block;
    margin: 0;
    padding: 10px;
    width: auto;
    position: relative;
    box-shadow: none;
    opacity: 0.9;
    background-color: blue;
    font-size: 25px;
}

#crop:hover{
    background-color: blue;
}

#apply-manual{
    background-color: green;
}

#exit-manual{
    background-color: red;
}

#reset-manual{
    background-color: black;
}
