.paint-tools{
    padding: 20px;
}

.paint-tools p{
    display: inline-block;
    font-size: 23px;
    padding: 20px;
    font-style: italic;
}

.paint-tools h3{
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.paint-tools i{
    padding: 10px;
}

.paint-tools i:hover{
    cursor: pointer;
}

#paint-small{
    font-size: 9px;
}

#paint-medium{
    font-size: 15px;
}

#paint-normal{
    font-size: 21px;
}

#paint-large{
    font-size: 28px;
}

#paint-huge{
    font-size: 37px;
}

.paint-tools input{
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
    color: white;
    font-size: 25px;
    margin: 12px;
}

.paint-tools select{
    background-color: rgb(44, 44, 94);
    color: white;
    border:none;
    font-size: 20px;
    padding: 5px;
}

.main-buttons{
    /* background-color: black; */
    width: 60%;
    padding: 20px;
    margin: 10px auto;
    overflow: auto;
}

.main-buttons button{
    display: inline-block;
    margin: auto;
}

#paint-save{
    background-color: green;
    float: left;
}

#paint-clear{
    background-color: red;
    float:right;
}
